<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="authy-desktop" />
  <package id="bitwarden" />
  <package id="brave" />
  <package id="firefox" />
  <package id="GoogleChrome" />
  <package id="docker-desktop" />
  <package id="git" />
  <package id="postman" />
  <package id="powertoys" />
  <package id="pwsh" />
  <package id="oh-my-posh" />
  <package id="treesizefree" />
  <package id="vscode" />
  <package id="winscp" />
  <package id="wsl2" />
  <package id="terraform" />
  <package id="packer" />
  <package id="wsl-ubuntu-2204" />
  <package id="nerd-fonts-CascadiaCode" />
</packages>